{% extends "auctions/layout.html" %}
{% block title %}Categories{% endblock %}
{% block body %}    
<div id="main-container">
    <h2>Browse by category</h2>
    <div id="categories-container">
        <div>
            {% for category in categories %}
            <div style="margin:10px;">
                <a href="{% url 'category' category.name %}">
                    {{category}}
                </a>
                    
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}